<!DOCTYPE html>
<html lang="en">
	<body>
<div class="row">
	<div class="col-md-12">
			<legend>Forgot Password</legend>
			<div class="form-group">
				<label for="email">Password reset link send to your Email, Click on the link to reset your Password</label>
			</div>
	</div>
</div>
</body>
</html>