<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <h1>Contact</h1>
            </div>
            <hr>
            <div class="row">
                <form class="col-12 col-md-8" method="post" action="contact">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="enquiry">Enquiry</label>
                        <textarea class="form-control" id="enquiry" name="enquiry" rows="6"></textarea>
                    </div>
                    <div class="float-right"> <!-- align button to the right -->
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>
    </body>
</html>