<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <h1>Operation Failed</h1>
            </div>
            <hr>
            <div class="row" style="height:300px;">
                <p>Someting is wrong</p>
                <p>We failed to send you an email. Please enter different one.</p>
               
            </div>
        </div>
    </body>
</html>