<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <h1>Your message is send successfully.</h1>
            </div>
            <hr>
            <div class="row" style="height:300px;">
                <p>Thank you for contacting us. We will get response soon as we can.</p>
                
               
            </div>
        </div>
    </body>
</html>