<!DOCTYPE html>
<html lang="en">
  <body>
        <div class="row">
            <div class="col-md-12">
                <legend>Reset Password</legend>
                <p>Password reset link send to your email, click on the link to reset your password</p>
            </div>
        </div>
    </body>
</html>